@import url(https://fonts.googleapis.com/css?family=Open+Sans:600,700);
html {
  scroll-behavior: smooth;
  -webkit-text-size-adjust: 100%;
}
body {
  background: #f8f9fd;
  width: auto;
  height: 100%;
  font-family: "Open Sans", Arial, Helvetica, Inter, sans-serif;
  margin: 0;
}
*,
::after,
::before {
  box-sizing: border-box;
}
a,
a:focus {
  outline: 0;
  text-decoration: none;
  color: #fff;
  cursor: pointer;
}
img,
svg {
  vertical-align: middle;
}
section {
  padding: 50px 0;
  position: relative;
  width: 100%;
  height: 100%;
}
.mtb-0 {
  margin-bottom: 0;
  margin-top: 0;
}
.medium-font {
  font-size: 16px;
  line-height: 24px;
}
.center-tittle {
  font-size: 16px;
  line-height: 24px;
  color: #13151c;
  text-align: center;
}
.sm-text {
  font-size: 18px;
  line-height: 24px;
}
.sm-sm-text {
  font-size: 10px;
}
.b-text {
  color: #12151c;
}
.second-color {
  color: #888;
}
.inter-400 {
  font-weight: 400;
}
.inter-700 {
  font-weight: 700;
}
.inter-500 {
  font-weight: 500;
}
.invoice-container {
  max-width: 880px;
  margin: 0 auto;
  padding: 30px 15px;
}
.content-min-width {
  padding: 50px 50px 30px;
}
.logo img {
  height: 60px;
  width: auto;
}
.invoice-logo-content {
  display: flex;
  flex-wrap: nowrap;
  align-content: center;
  justify-content: space-between;
  align-items: center;
}
.invo-head-wrap {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.invoice-content-wrap {
  background: #fff;
  position: relative;
  height: 100%;
  width: 100%;
}
.invo-num-title {
  width: 60%;
}
.invo-no {
  width: 50%;
  font-size: 16px;
  line-height: 24px;
}
.invo-num {
  color: #888;
  padding-right: 20px;
  font-size: 16px;
  line-height: 24px;
}
.text-invoice {
  background-image: url(../images/header/back-img.svg);
  background-repeat: no-repeat;
  width: 100%;
  height: auto;
  top: auto;
  bottom: 0;
  right: 0;
  left: 0;
  background-size: auto;
  background-position: bottom center;
}
.image-container {
  width: 100%;
  height: 100%;
  overflow: hidden;
}
.image-container img {
  display: block;
  max-width: 100%;
  height: auto;
  width: 100%;
  object-fit: cover;
}
.container {
  margin: 0 auto;
  padding: 0 50px;
}
.invo-to {
  color: #12151c;
}
.invo-to-owner {
  color: #73cde1;
  margin: 10px 0;
}
.invo-vat {
  color: #73cde1;
  margin: 1px 0;
}
.padding-20 {
  padding-right: 15px;
}
span.line-bstn-en {
  position: absolute;
  border-right: 3px solid #73cde1;
  height: 10px;
  left: -10px;
}
span.line-bstn-ar {
  position: absolute;
  border-right: 3px solid #73cde1;
  height: 10px;
  right: -10px;
}
span.col-line-bstn {
  content: "";
  position: relative;
  border-right: 1px solid #242424c4;
  height: 6em;
}
span.mhg-line {
  border-bottom: 1px solid #73cde1;
  margin: 3px 0;
}
.invo-to-wrap {
  text-align: right;
}
.invo-vat-to-wrap {
  text-align: right;
  display: inline-grid;
}
.invo-owner-address {
  color: #888;
}
.table-wrapper.amount {
  width: 30%;
}
.ar-text {
  text-align: right;
  dir: rtl;
}
.table-wrapper {
  padding: 30px 20px;
}
.invoice-table {
  border-collapse: collapse;
  width: 100%;
  border: 1px solid #000;
  background-color: #fff;
}
td,
th,
tr {
  border: 1px solid #000;
}
.invoice-table td,
.invoice-table th {
  text-align: center;
}
.invoice-table td {
  color: #888;
  font-size: 14px;
  line-height: 22px;
  padding: 20px 0;
}
.invoice-table thead th {
  color: #12151c;
  padding: 10px 0;
}
.invoice-table td.total-data,
.invoice-table th.total-head {
  text-align: center;
}
.invo-total-price {
  font-weight: 500;
}
.invo-total-table td.invo-total-data,
.invo-total-table td.invo-total-price {
  text-align: left;
}
.agency-bottom-content {
  border-radius: 0 0 20px 20px;
  padding: 50px 0;
}
.invo-btns {
  display: inline-flex;
  align-items: center;
  margin: 0 1px;
}
.invo-buttons-wrap {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row-reverse;
}
.invo-buttons-wrap .invo-btns .print-btn {
  background: #73cde1;
  padding: 12px 24px;
  border-radius: 0 24px 24px 0;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
}
.invo-buttons-wrap .invo-btns .download-btn {
  background: #00d061;
  padding: 12px 24px;
  border-radius: 24px 0 0 24px;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
}
.invo-btns span {
  padding-right: 10px;
}
.invo-note-wrap,
.note-title {
  display: flex;
  align-items: center;
}
.invo-note-wrap {
  padding-top: 30px;
}
.note-title span {
  padding-right: 10px;
}
.content-min-width.bstn-header {
  padding: 20px 50px 0;
}
.content-min-width.bstn-header .invoice-logo {
  position: relative;
  top: -9px;
}
.content-min-width.bstn-header .invoice-barcode {
  position: relative;
  top: -9px;
}
.simple-vat-section {
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.bstn-invo-no-date-wrap {
  background-color: #73cde1;
  padding: 8px 50px;
  display: flex;
  dir: rtl;
  justify-content: space-between;
}
.bstn-invo-ddate,
.bstn-invo-nnum {
  padding-right: 10px;
}
.invoice-timing-wrap {
  display: flex;
  justify-content: flex-start;
}
.invo-time-col {
  display: inline-block;
  position: relative;
}
.Invoico-info,
.Invoico-info p {
  position: relative;
}
.Invoico-info-ar {
  text-align: right;
  direction: rtl;
}
.invoice-timing-wrap {
  padding: 0 20px;
}
.bstn-detail-col {
  display: inline-flex;
}
.bstn-detail-wrap {
  display: grid;
  grid-column: 2;
  grid-template-columns: auto auto auto auto;
  gap: 20px 30px;
  grid-row: 2;
  grid-template-columns: repeat(2, 1fr);
  padding: 30px;
  border: 2px solid #12151c;
}
.bstn-type {
  width: 50%;
}
@media only screen and (max-width: 768px) {
  .simple-vat-section {
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding: 20px 0;
  }
  .table-wrapper {
    padding: 20px 0;
    overflow-x: auto;
  }
  .invoice-table {
    width: 100%;
  }
  .bstn-detail-wrap {
    grid-template-columns: 1fr;
    gap: 20px;
  }
  .invoice-container {
    padding: 15px;
  }
  .content-min-width {
    padding: 20px 20px 15px;
  }
  .invo-head-wrap,
  .invoice-logo-content {
    flex-direction: column;
    align-items: center;
    text-align: center;
  }
  .invo-to-wrap,
  .invo-vat-to-wrap {
    margin-bottom: 20px;
  }
  .invo-buttons-wrap {
    flex-direction: column;
  }
  .invo-btns {
    margin: 10px 0;
  }
  .Invoico-info p {
    margin: 10px 0 !important;
  }
  b.b-text.padding-20 {
    float: left;
  }
  span.col-line-bstn {
    height: 1em;
  }
}
@media only screen and (max-width: 480px) {
  section {
    padding: 30px 0;
  }
  .invoice-container {
    padding: 10px;
  }
  .content-min-width {
    padding: 15px 15px 10px;
  }
  .invo-head-wrap,
  .invoice-logo-content {
    gap: 10px;
  }
  .invo-to-wrap,
  .invo-vat-to-wrap {
    margin-bottom: 10px;
  }
  .invo-buttons-wrap {
    gap: 10px;
  }
  .invo-btns {
    margin: 5px 0;
  }
}
@media only screen and (max-width: 768px) {
  .table-wrapper {
    overflow-x: auto;
  }
  .bstn-invo-no-date-wrap {
    padding: 6px 20px;
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-content: center;
    align-items: center;
  }
  .invoice-table.bstn-detail-table {
    min-width: 1200px;
  }
  .invoice-table.bstn-detail-table td,
  .invoice-table.bstn-detail-table th {
    padding: 8px;
    font-size: 12px;
    white-space: nowrap;
  }
}
@media only screen and (min-width: 480px) {
  .flex-tables .summary-table,
  .flex-tables .payment-method-table {
    width: 49%; /* Slight reduction for some spacing in between */
    margin: 0; /* Reset any margin */
  }

}

@media only screen and (max-width: 480px) {
  .invoice-table.bstn-detail-table td,
  .invoice-table.bstn-detail-table th {
    font-size: 10px;
  }
  .payment-method-table .td-data {
    padding: 12px 8px;
     text-align: right !important;
    border-bottom: 1px solid #eaeaea;
}
}
@media only screen and (max-width: 768px) {
  
  .invo-buttons-wrap > div {
    display: block;
    width: 100%;
    margin-bottom: 10px;
  }
  .invo-note-wrap h3 {
    word-wrap: break-word;
  }
  .invo-buttons-wrap {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row-reverse;
  }
  .bstn-invo-no-date-wrap {
    padding: 12px 20px;
    display: flex;
    flex-wrap: unset !important;
    dir: rtl;
    justify-content: space-between;
  }
}
.custom-invoice-table {
  cellspacing: 0;
  cellpadding: 0;
  margin: auto;
}
.table-wrapper {
  overflow-x: auto;
}
.invo-table-title {
  background-color: #f2f2f2;
  padding: 10px 5px;
}
.table-container {
  overflow-x: auto;
  margin: 20px 0;
}
.custom-table {
  width: 100%;
  border-collapse: collapse;
  font-family: Arial, sans-serif;
  text-align: center;
}
.th-header {
  background-color: #ecf0f1;
   padding: 15px;
  border: 1px solid #0000003f;
  font-size: 15px;
}
.tbody-section .tr-row:hover {
  background-color: #f5f5f7;
}
.td-data {
  padding: 12px;
  border: 1px solid #e0e0e0;
  font-size: 14px;
}
@media (max-width: 768px) {
  .td-data {
    font-size: 12px;
    padding: 8px;
  }
  .th-header {
    font-size: 14px;
    padding: 10px;
  }
}
@media (max-width: 768px) {
  .custom-table thead {
    display: none;
  }
  .tbody-section .tr-row {
    margin-bottom: 0.625rem;
    display: block;
    border: 1px solid #e0e0e0;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
  }
  .td-data {
    display: block;
    text-align: right;
    padding: 10px;
    border: none;
    border-bottom: 1px solid #e0e0e0;
    position: relative;
    font-size: 12px;
  }
  .td-data::before {
    content: attr(data-label);
    float: left;
    font-weight: 700;
    position: absolute;
    left: 10px;
    top: 50%;
    transform: translateY(-50%);
    background-color: #ecf0f1;
    padding: 5px;
    border-radius: 5px;
    font-size: 10px;
  }
  .td-data:last-of-type {
    border-bottom: none;
  }
}
.invoice-table {
  border-collapse: collapse;
  width: 100%;
}
.invo-table-title {
  padding: 15px;
  border: 1px solid #e0e0e0;
  font-weight: 700;
}
.table-container {
  width: 100%;
  overflow-x: auto;
  margin: 0 auto;
  border-radius: 10px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
  font-family: Inter, sans-serif;
}
.custom-table {
  width: 100%;
  border-collapse: collapse;
}
.td-data,
.td-header {
  padding: 10px 15px;
  text-align: left;
  border: 1px solid #e0e0e0;
}
.td-header {
  background-color: #ecf0f1;
  font-weight: 700;
  font-size: 14px;
}
.tr-header td {
  font-weight: 700;
}
@media (max-width: 768px) {
  .tbody-section .tr-row {
    margin-bottom: 0.625rem;
    display: block;
    border: 1px solid #e0e0e0;
  }
  .td-data {
    display: block;
    text-align: right;
    padding: 10px;
    border: none;
    border-bottom: 1px solid #e0e0e0;
    position: relative;
    font-size: 12px;
  }
  .td-data::before {
    content: attr(data-label);
    float: left;
    font-weight: 700;
    position: absolute;
    left: 10px;
    top: 50%;
    transform: translateY(-50%);
    background-color: #ecf0f1;
    padding: 5px;
    border-radius: 5px;
    font-size: 10px;
  }
  .td-data:last-of-type {
    border-bottom: none;
  }
}
.summary-table {
  width: 100%;
  border-collapse: collapse;
  font-family: Inter, sans-serif;
}
.summary-row td,
.summary-row th {
  padding: 10px 15px;
  font-weight: 700;
  border: 1px solid #e0e0e000;
}
.td-center {
  text-align: left;
  position: relative;
  padding-right: 15%;
}
.td-center::after {
  content: attr(data-arabic);
  position: absolute;
  top: 50%;
  right: 0;
  transform: translateY(-50%);
  font-style: italic;
}
.td-value {
  text-align: center;
}
.footer-row .footer-text {
  text-align: center;
  font-weight: 700;
  background-color: #ecf0f1;
  font-size: 16px;
}
@media (max-width: 768px) {
  .summary-row td,
  .summary-row th {
    display: block;
    width: 100%;
    box-sizing: border-box;
  }
  .td-center {
    text-align: center;
    padding-right: 0;
  }
  .td-center::after {
    position: initial;
    top: initial;
    right: initial;
    transform: none;
    display: block;
    margin-top: 5px;
  }

}
.summary-table {
  width: 100%;
  border-collapse: collapse;
  font-family: Inter, sans-serif;
}
.summary-row td {
  padding: 10px 15px;
  border: 1px solid #e0e0e000;
  position: relative;
}
.footer-row .footer-text {
  text-align: center;
  font-weight: 700;
  background-color: #ecf0f1;
  font-size: 16px;
}
.summary-table {
  width: 100%;
  border-collapse: collapse;
  font-family: Inter, sans-serif;
}
.summary-row {
  display: flex;
  border-bottom: 1px solid #e0e0e0;
  align-items: center;
}
.td-value {
  flex: 1;
  text-align: center;
  padding: 10px 0;
  background-color: #f4f4f4;
}
.td-ar,
.td-eng {
  flex: 2;
  padding: 10px 15px;
}
.footer-row td {
  padding: 10px 15px;
  font-weight: 700;
  text-align: center;
  background-color: #ecf0f1;
}
@media (max-width: 768px) {
  .td-ar,
  .td-eng {
    display: none;
  }
  .td-value::before {
    content: attr(data-label-eng) "  " attr(data-label-ar);
    display: block;
    font-size: 12px;
    margin-bottom: 5px;
  }
}
.table-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: start;
  width: 100%;
  flex-wrap: wrap;
}
.custom-table,
.summary-table {
  width: 48%;
  box-sizing: border-box;
  margin: 0;
}
.custom-table {
  border-collapse: collapse;
  width: 100%;
  font-family: Inter, sans-serif;
}
.td-header {
  font-weight: 700;
  padding: 10px;
  border-bottom: 1px solid #e0e0e0;
}
.td-data {
  padding: 10px;
}
@media (max-width: 768px) {
  .custom-table,
  .summary-table {
    width: 100%;
    margin-bottom: 10px;
  }
}
.custom-table {
  border-collapse: collapse;
  width: 100%;
  font-family: Inter, sans-serif;
}
.td-data,
.td-header {
  padding: 10px;
  border-bottom: 1px solid #e0e0e0;
}
.td-data::before {
  content: none;
}
@media (max-width: 768px) {
  .tr-header {
    display: none;
  }
  .tbody-section,
  .tr-row {
    width: 100%;
    display: block;
  }
  .td-data {
    display: block;
    width: 100%;
    box-sizing: border-box;
  }
  .td-data::before {
    content: attr(data-label);
    display: inline-block;
    width: 50%;
    padding: 10px;
    font-weight: 700;
    border-bottom: 1px solid #e0e0e0;
  }
}
.custom-table {
  border-collapse: collapse;
  width: 100%;
  font-family: Inter, sans-serif;
}
.td-data,
.td-header {
  padding: 10px;
  border-bottom: 1px solid #e0e0e0;
}
.td-data::before {
  content: none;
}
@media (max-width: 768px) {
  .tr-header {
    display: none;
  }
  .tbody-section,
  .tr-row {
    width: 100%;
    display: block;
  }
  .td-data {
    display: block;
    width: 100%;
    box-sizing: border-box;
  }
  .td-data::before {
    content: attr(data-label);
    display: inline-block;
    width: 50%;
    padding: 10px;
    font-weight: 700;
    border-bottom: 1px solid #e0e0e0;
  }
}
body {
  font-family: Arial, sans-serif;
  line-height: 1.5;
  color: #333;
}
.table-wrapper {
  overflow-x: auto;
}
.custom-table,
.summary-table {
  width: 100%;
  border-collapse: collapse;
}
.summary-row,
.tr-row {
  transition: background-color 0.3s;
}
.summary-row:hover,
.tr-row:hover {
  background-color: #f5f5f5;
}
.td-ar{
  text-align: right !important;
}

.td-en{
  text-align: left !important;
}
.td-ar,
.td-data,
.td-eng,
.td-header,
.td-value {
  padding: 12px 8px;
  border-bottom: 1px solid #eaeaea;
}
.invo-buttons-wrap .invo-btns a {
  transition: background-color 0.3s, transform 0.3s;
  padding: 12px 20px;
  display: inline-block;
  margin-right: 10px;
  text-decoration: none;
  border-radius: 4px;
  background-color: #007bff;
  color: #fff;
}
.invo-buttons-wrap .invo-btns a:hover {
  background-color: #0056b3;
  transform: translateY(-2px);
}
.summary-table {
  width: 100%;
  border-collapse: collapse;
}
.payment-method-table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 20px;
}
.payment-method-table .tr-header {
  background-color: #f7f7f7;
}
.payment-method-table .td-header {
  padding: 12px 8px;
  border-bottom: 1px solid #eaeaea;
  font-weight: 700;
  text-align: center;
}
.payment-method-table .td-data {
  padding: 12px 8px;
  text-align: center;
  border-bottom: 1px solid #eaeaea;
}
.payment-method-table .tr-row:hover {
  background-color: #f5f5f5;
}
.table-wrapper .summary-row:nth-child(odd),
.table-wrapper .tr-row:nth-child(odd) {
  background-color: #f9f9f9;
}
.flex-tables {
  display: flex;
  justify-content: space-between;
  align-items: flex-start; /* Align tables to the top of the container */
}


@media (max-width: 575px){
.table-wrapper {
 justify-content: center;
}

}
