/*-----------------------[Table of contents]------------------------
 

Background: #3f4449 
Content: #888888, #ffffff, #3f4449, #73cde1

a (visited): #3f4449
a (standard): #3f4449   
a (hover):  #3f4449  
a (active): #3f4449

------------------------------------------------------------------ */

/************************* 1.Default CSS **************************/
@import url('https://fonts.googleapis.com/css2?family=Noto+Kufi+Arabic:wght@100;200;300;400;500;600;700;800&display=swap');

/* arabic */
@font-face {
  font-family: 'Noto Kufi Arabic';
  font-style: normal;
  font-weight: 100;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/notokufiarabic/v17/CSRk4ydQnPyaDxEXLFF6LZVLKrodrOYFFg.woff2) format('woff2');
  unicode-range: U+0600-06FF, U+0750-077F, U+0870-088E, U+0890-0891, U+0898-08E1, U+08E3-08FF, U+200C-200E, U+2010-2011, U+204F, U+2E41, U+FB50-FDFF, U+FE70-FE74, U+FE76-FEFC, U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+0304, U+0308, U+0329, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}
/* arabic */
@font-face {
  font-family: 'Noto Kufi Arabic';
  font-style: normal;
  font-weight: 200;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/notokufiarabic/v17/CSRk4ydQnPyaDxEXLFF6LZVLKrodrOYFFg.woff2) format('woff2');
  unicode-range: U+0600-06FF, U+0750-077F, U+0870-088E, U+0890-0891, U+0898-08E1, U+08E3-08FF, U+200C-200E, U+2010-2011, U+204F, U+2E41, U+FB50-FDFF, U+FE70-FE74, U+FE76-FEFC, U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+0304, U+0308, U+0329, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}
/* arabic */
@font-face {
  font-family: 'Noto Kufi Arabic';
  font-style: normal;
  font-weight: 300;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/notokufiarabic/v17/CSRk4ydQnPyaDxEXLFF6LZVLKrodrOYFFg.woff2) format('woff2');
  unicode-range: U+0600-06FF, U+0750-077F, U+0870-088E, U+0890-0891, U+0898-08E1, U+08E3-08FF, U+200C-200E, U+2010-2011, U+204F, U+2E41, U+FB50-FDFF, U+FE70-FE74, U+FE76-FEFC, U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+0304, U+0308, U+0329, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}
/* arabic */
@font-face {
  font-family: 'Noto Kufi Arabic';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/notokufiarabic/v17/CSRk4ydQnPyaDxEXLFF6LZVLKrodrOYFFg.woff2) format('woff2');
  unicode-range: U+0600-06FF, U+0750-077F, U+0870-088E, U+0890-0891, U+0898-08E1, U+08E3-08FF, U+200C-200E, U+2010-2011, U+204F, U+2E41, U+FB50-FDFF, U+FE70-FE74, U+FE76-FEFC, U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+0304, U+0308, U+0329, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}
/* arabic */
@font-face {
  font-family: 'Noto Kufi Arabic';
  font-style: normal;
  font-weight: 500;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/notokufiarabic/v17/CSRk4ydQnPyaDxEXLFF6LZVLKrodrOYFFg.woff2) format('woff2');
  unicode-range: U+0600-06FF, U+0750-077F, U+0870-088E, U+0890-0891, U+0898-08E1, U+08E3-08FF, U+200C-200E, U+2010-2011, U+204F, U+2E41, U+FB50-FDFF, U+FE70-FE74, U+FE76-FEFC, U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+0304, U+0308, U+0329, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}
/* arabic */
@font-face {
  font-family: 'Noto Kufi Arabic';
  font-style: normal;
  font-weight: 600;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/notokufiarabic/v17/CSRk4ydQnPyaDxEXLFF6LZVLKrodrOYFFg.woff2) format('woff2');
  unicode-range: U+0600-06FF, U+0750-077F, U+0870-088E, U+0890-0891, U+0898-08E1, U+08E3-08FF, U+200C-200E, U+2010-2011, U+204F, U+2E41, U+FB50-FDFF, U+FE70-FE74, U+FE76-FEFC, U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+0304, U+0308, U+0329, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}
/* arabic */
@font-face {
  font-family: 'Noto Kufi Arabic';
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/notokufiarabic/v17/CSRk4ydQnPyaDxEXLFF6LZVLKrodrOYFFg.woff2) format('woff2');
  unicode-range: U+0600-06FF, U+0750-077F, U+0870-088E, U+0890-0891, U+0898-08E1, U+08E3-08FF, U+200C-200E, U+2010-2011, U+204F, U+2E41, U+FB50-FDFF, U+FE70-FE74, U+FE76-FEFC, U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+0304, U+0308, U+0329, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}
/* arabic */
@font-face {
  font-family: 'Noto Kufi Arabic';
  font-style: normal;
  font-weight: 800;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/notokufiarabic/v17/CSRk4ydQnPyaDxEXLFF6LZVLKrodrOYFFg.woff2) format('woff2');
  unicode-range: U+0600-06FF, U+0750-077F, U+0870-088E, U+0890-0891, U+0898-08E1, U+08E3-08FF, U+200C-200E, U+2010-2011, U+204F, U+2E41, U+FB50-FDFF, U+FE70-FE74, U+FE76-FEFC, U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+0304, U+0308, U+0329, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

html {
  scroll-behavior: smooth;
  -webkit-text-size-adjust: 100%;
}
body {
  background: #f8f9fd;
  width: auto;
  height: 100%;
  color: #ffffff;
  font-family:'Noto Kufi Arabic', Helvetica,"Inter", sans-serif;
  margin: 0;
}

*,
::after,
::before {
  box-sizing: border-box;
}
a:focus,
a {
  outline: none;
  text-decoration: none;
  color: #ffffff;
  cursor: pointer;
}
svg,
img {
  vertical-align: middle;
}
section {
  position: relative;
  width: 100%;
  height: 100%;
  border-top: 2px solid #ccc;
}
   #download_section {
 display: none;
 }   
div#download_section {
  min-width: 55em;
}
.invoice_wrap {
  width: 100%;
}

.invoice-table.bstn-detail-table {
  max-width: 100%;
}
/* Add more overrides based on your actual media queries and styles */



.mtb-0 {
  margin-bottom: 0;
  margin-top: 0;
}
.medium-font {
  font-size: 16px;
  line-height: 24px;
}

.center-tittle {
  font-size: 16px;
  line-height: 24px;
  color: #13151c;
  text-align: center;
}

.md-lg-font {
  font-size: 20px;
  line-height: 24px;
}
.sm-text {
  font-size: 18px;
  line-height: 24px;
}
.sm-md-text {
  font-size: 14px;
  line-height: 22px;
}

.sm-sm-text {
  font-size: 9px;

}
.b-text {
  color: #12151c;
}
.second-color {
  color: #888888;
}
.primary-color {
  color: #73cde1;
}

/************************* 2.Header CSS **************************/

.inter-400 {
  font-weight: 400;
}
.inter-700 {
  font-weight: 700;
}
.inter-500 {
  font-weight: 500;
}
.invoice-container {
  max-width: 55em;
  margin: 0 auto;
  padding:  0px 15px;
}
.content-min-width {
  padding: 50px 50px 30px;
}
.logo img {
  height: 75px;
  width: auto;
}
.invoice-logo-content {
  display: flex;
  flex-wrap: nowrap;
  align-content: center;
  justify-content: center;
  align-items: center;
  flex-direction: row-reverse;

}
.invo-head-wrap {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.invoice-content-wrap {
  background: #fff;
  position: relative;
  height: 100%;
  width: 100%;
}
.invo-num-title {
  width: 60%;
}
.invo-no {
  width: 50%;
  font-size: 16px;
  line-height: 24px;
}
.invo-num {
  color: #888888;
  padding-right: 20px;
  font-size: 16px;
  line-height: 24px;
}
.invo-head-wrap.invoi-date-wrap {
  margin-top: 20px;
}
.invo-cont-wrap {
  display: flex;
  flex-wrap: nowrap;
  align-items: center;
}
.invoice-header-contact {
  display: inline-flex;
  padding-top: 36px;
}
.invo-cont-wrap.invo-contact-wrap {
  margin-left: 30px;
}
.invo-social-name {
  padding-right: 10px;
}
.text-invoice {
  background-image: url("../images/header/back-img.svg");
  background-repeat: no-repeat;
  width: 100%;
  height: auto;
  top: auto;
  bottom: 0;
  right: 0;
  left: 0;
  background-size: auto;
  background-position: bottom center;
}

/************************* 3.Invoice Content CSS **************************/

.image-container {
  width: 100%; /* This will make the container take the full width of its parent */
  height: 100%; /* This will make the container take the full height of its parent */
  overflow: hidden; /* This will hide any part of the image that exceeds the container's dimensions */
}

.image-container img {
  display: block;
  max-width: 100%; /* This will ensure the image doesn't exceed the container's width */
  height: auto; /* This will maintain the image's aspect ratio */
  width: 100%; /* This will make the image take the full width of the container */
  object-fit: cover; /* This will ensure the image covers the entire container without distorting its aspect ratio */
}


.container {
  margin: 0 auto;
  padding: 0 50px;
}
.invo-to {
  color: #12151c;
}
.invo-to-owner {
  color: #73cde1;
  margin: 10px 0;
}
.invo-vat {
  color: #73cde1;
  margin: 1px 0;
}
p.second-color.sm-sm-text .multi-lang { 
  text-align: center!important;
}
.padding-20 {
  padding-right:15px;
}
span.line-bstn-en {
  position: absolute;
  border-right: 3px solid #73cde1;
  height: 17px;
  left: -10px;
}

span.line-bstn-ar {
  position: absolute;
  border-right: 3px solid #73cde1;
  height: 17px;
  right: -10px;
}
span.col-line-bstn {
  content: "";
  position: relative;
  border-right: 0.5px solid #24242486;
  height: 4em;
 
}

span.mhg-line {
  border-bottom: 2px solid #73cde1 ;
 
  margin: 3px 0;
}
 



.invoice-owner-conte-wrap {
  display: flex;
  justify-content: space-between;
  -webkit-box-pack: justify;
}
.invo-to-wrap {
  text-align: right;
}
.invo-pay-to-wrap {
  text-align: left;
}
.invo-vat-to-wrap {
  text-align: right;
   display: inline-grid;  
   margin-right: 2em;
}
.invo-owner-address {
  color: #888888;
  line-height: 11px;
}
/* .invoice-table.totals thead th{

  width: 33%;

} */

.flex { 
  display: flex;
  justify-content: center;
}

/* table.invoice-table.totals.bstn-detail-table { 
  width: 60%;
} */
.table-wrapper.amount {
  width: 25%;
  padding-top: 0;
}
.ar-text { 
  text-align: right;
  dir:rtl;
}

.table-wrapper {
  padding: 30px 20px;
}
.invoice-table {
  border-collapse: collapse;
  width: 100%;
  border: 1px solid #000;
  background-color: #ffffff;
}
tr, th, td {
  border: 1.3px solid #8888884d;
}
.invoice-table td,
.invoice-table th {
  text-align: center;
}
.invoice-table td {
  color: #000000;
  font-size: 10px;
   padding: 2px 2px;
}
.invoice-table thead th {
  color: #12151c;
  padding: 0 0 10px 0;
}
.invo-tb-body .invo-tb-row {
  border-bottom: 1px solid #888888;
}
.invo-tb-body .invo-tb-row:last-child {
  border-bottom: none;
}
.invo-tb-body {
  border-bottom: 1px solid #12151c;
  border-top: 1px solid #12151c;
}
.serv-wid {
  width: 32%;
}
.desc-wid {
  width: 36%;
}
.qty-wid {
  width: 10%;
}
.pric-wid {
  width: 12%;
}
.tota-wid {
  width: 10%;
}
.invoice-table th.total-head,
.invoice-table td.total-data {
  text-align: center;
}
.addi-info-title {
  color: #12151c;
  margin: 0 0 10px;
}
.add-info-desc {
  font-size: 14px;
  line-height: 22px;
  color: #888888;
}
.invo-total-price {
  font-weight: 500;
}
.invo-addition-wrap {
  display: flex;
}
.invo-add-info-content {
  width: 50%;
}
.invo-bill-total {
  width: 50%;
  position: relative;
}
.invo-bill-total table {
  width: 85%;
  border-collapse: collapse;
  white-space: nowrap;
  float: left;
}
.invo-total-table td.invo-total-data,
.invo-total-table td.invo-total-price {
  text-align: left;
}
.tax-row.bottom-border,
.disc-row.bottom-border {
  border-bottom: 2px solid #12151c;
}
.hotel-sub {
  padding-right: 70px !important;
}
.invo-total-table .tax-row td,
.invo-grand-total td {
  padding: 20px 0;
}

/************************* 4.Bottom Content CSS **************************/

.agency-bottom-content {
  border-radius: 0px 0px 20px 20px;
  padding: 50px 0;
}
.invo-btns {
  display: inline-flex;
  align-items: center;
  margin: 0 1px;
}
.invo-buttons-wrap {
  display: flex;
  justify-content: center;
  align-items: center;
}
.invo-buttons-wrap .invo-btns .print-btn {
  background: #73cde1;
  padding: 12px 24px;
  border-radius: 0px 24px 24px 0px;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
}
.invo-buttons-wrap .invo-btns .download-btn {
  background: #00d061;
  padding: 12px 24px;
  border-radius: 24px 0px 0px 24px;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
}
.invo-btns span {
  padding-right: 10px;
}
.invo-note-wrap,
.note-title {
  display: flex;
  align-items: center;
}
.invo-note-wrap {
  padding-top: 30px;
}
.note-title span,
.note-desc {
  padding-right: 10px;
}

/************************* 7. Bs CSS **************************/

.content-min-width.bstn-header {
  padding: 20px 50px 0px;
}
.content-min-width.bstn-header .invoice-logo {
  display: inline-flex;
   
  width: 100%;
  
}
.content-min-width.bstn-header .invoice-barcode {
  position: relative;
  top: -9px;
}

.simple-vat-section { 

  display: flex;
  justify-content: center;
  align-items: center;

}
.bstn-invo-no-date-wrap {
  background-color: #73cde1;
  padding: 8px 50px;
  display: flex;
  dir:rtl;
  justify-content: space-between;
}
.bstn-invo-nnum,
.bstn-invo-ddate {
  padding-right: 10px;
}
.invoice-timing-wrap {
  display: flex;
  justify-content: flex-start;
}
.invo-time-col {
  display: inline-block;
  /* padding: 0 18px 0 12px; */
  position: relative;
}
.Invoico-info p,
.Invoico-info {
  position: relative;
}
.Invoico-info-ar{

  text-align: right;
  direction: rtl;

}
 /* .Invoico-info .circle:before {
  content: "";
  position: absolute;
  width: 8px;
  height: 8px;
  border-radius: 50px;
  background-color: #000000;
  right: -16px;
  top: 7px;
} */
/* .Invoico-info:before {
  content: "";
  position: absolute;
  border-right: 2px solid #73cde1;
  height: 39px;
  top: 12px;
  right: -13px;
}  */
.invoice-timing-wrap {
  padding: 0px 18px;
  direction: ltr;
  
}
.bstn-detail-col {
  display: inline-flex;
}
.bstn-detail-col.border-bottom {
  border-bottom: 1px solid #888888;
  padding-bottom: 20px;
}
.bstn-detail-wrap {
  display: grid;
  grid-column: 2;
  grid-template-columns: auto auto auto auto;
  gap: 20px 30px;
  grid-row: 2;
  grid-template-columns: repeat(2, 1fr);
  padding: 30px;
  border: 2px solid #12151c;
}
.bstn-type,
.invo-add-info-content.bstn-term-cond-content,
.invo-bill-total.bstn-invo-total {
  width: 50%;
}
.term-con-list {
  padding: 0 16px 0 0;
  margin: 0;
}
.bstn-conta-mail-wrap {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 30px 0 0;
}
.bstn-contact a,
.bstn-mail a {
  vertical-align: middle;
}
/* Responsive CSS for the entire invoice */

/* Define a breakpoint for tablets and smaller screens */
/* @media only screen and (max-width: 768px) {

     .simple-vat-section {
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding: 20px 0;
  }  

   .table-wrapper {
    padding: 10px 0;
    margin: 10px;
    overflow-x: auto; }

  .invoice-table {
    width: 100%;
  }

   .bstn-detail-wrap {
    grid-template-columns: 1fr;  
    gap: 20px;
  }

   .bstn-conta-mail-wrap {
    flex-direction: column;
    gap: 20px;
  }

  .invoice-container {
    padding: 0 15px;
  }

  .content-min-width {
    padding: 20px 20px 15px;
  }

  .invoice-logo-content, .invo-head-wrap, .invoice-header-contact, .invo-cont-wrap {
    flex-direction: column;
    align-items: center;
    text-align: center;
  }

  .invo-head-wrap.invoi-date-wrap, .invo-cont-wrap.invo-contact-wrap {
    margin-top: 20px;
  }

  .invoice-owner-conte-wrap {
    flex-direction: column;
    text-align: center;
  }

  .invo-to-wrap, .invo-pay-to-wrap, .invo-vat-to-wrap {
     
    margin-bottom: 20px;
  }

  .invo-bill-total table {
    width: 100%;
  }

  .invo-addition-wrap {
    flex-direction: column;
  }

  .invo-add-info-content, .invo-bill-total {
    width: 100%;
    margin-bottom: 20px;
  }

  .invo-buttons-wrap {
    flex-direction: column;
  }

  .invo-btns {
    margin: 10px 0;
  }
  .Invoico-info p {
    margin: 10px 0 !important;
  }
  b.b-text.padding-20 { 
    float: left;
  }

  span.col-line-bstn {
 
    height: 1em;
}

} */

/* Define a breakpoint for mobile screens */
/* @media only screen and (max-width: 480px) {

  
  .invoice-container {
    padding: 0 10px;
  }

  .content-min-width {
    padding: 15px 15px 10px;
  }

  .invoice-logo-content, .invo-head-wrap, .invoice-header-contact, .invo-cont-wrap {
    gap: 10px;
  }

  .invo-head-wrap.invoi-date-wrap, .invo-cont-wrap.invo-contact-wrap {
    margin-top: 10px;
  }

  .invoice-owner-conte-wrap {
    gap: 10px;
  }

  .invo-to-wrap, .invo-pay-to-wrap, .invo-vat-to-wrap {
    margin-bottom: 10px;
  }

  .invo-bill-total table {
    width: 100%;
  }

  .invo-addition-wrap {
    gap: 10px;
  }

  .invo-add-info-content, .invo-bill-total {
    margin-bottom: 10px;
  }

  .invo-buttons-wrap {
    gap: 10px;
  }

  .invo-btns {
    margin: 5px 0;
  }

} */
/* Responsive CSS for the table */

/* Define a breakpoint for tablets and smaller screens */
/* @media only screen and (max-width: 768px) {

   .table-wrapper {
    overflow-x: auto;
  }

  .bstn-invo-no-date-wrap {
    padding: 6px 20px;
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-content: center;
    align-items: center;
}

  .invoice-table.bstn-detail-table {
    min-width: 1200px;  
  }


   .invoice-table.bstn-detail-table th, .invoice-table.bstn-detail-table td {
    padding: 8px;
    font-size: 12px;  
    white-space: nowrap;  
  }

}

 @media only screen and (max-width: 480px) {

  .invoice-table.bstn-detail-table th, .invoice-table.bstn-detail-table td {
    font-size: 10px;  
  }

}

@media only screen and (max-width: 768px) {
   .bstn-conta-mail-wrap > div {
      display: block;
      width: 100%;
      text-align: center;  
      margin-bottom: 10px;  
  }

   .invo-buttons-wrap > div {
      display: block;
      width: 100%;
      margin-bottom: 10px;  
  }

   .invo-note-wrap h3 {
      word-wrap: break-word;  
  }
  .invo-buttons-wrap {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row-reverse;
}
.bstn-invo-no-date-wrap {
  padding: 12px 20px;
  display: flex;
  flex-wrap: unset !important;
  dir:rtl;
  justify-content: space-between;
}

} */

td.md-lg-font.invo-table-title.full-width-cell.inter-700 { 
  color: #000;
  font-weight: 900;
}


.bst-container {
  display: flex;
  justify-content: space-between;
 height: 300px;
      padding: 20px 15px;  
    margin: auto;
    position: relative;
    z-index: 5;
    background-color: #85CEE4 ;
}
.left-side {
  flex: 1;
  padding: 50px 20px 0px 20px;
  }
 
.right-side {
  flex: 1;
  text-align: right;
  padding:  50px 30px 0px 20px;
 }
.bst-logo {
  /* Add your CSS for the logo here */
}
.purchasing-list {
  font-size: 18px;
  color: #000;
  text-align: right;
  padding: 10px;
}
.purchasing-list b {
  font-size: 23px;
   
}
.mhg-line { 
  font-size: 9px;
  color: #000;
  text-align: right;
  font-weight: 700;
 


}
.thanks {
  font-size: 15px;
  text-align: right;
  color: #000;
  padding-top: 20px ;
}
.creating-world {
  padding-top: 20px ;
  font-size: 16px;
  text-align: right;
}


.align-left {
  text-align: left;
  direction: ltr;
}

.align-right {
  text-align: right;
  direction: rtl;
}



.invoice {
   padding: 3rem 2rem 4rem 3rem;
  width: 600px;
  margin: 3rem auto;
  position: relative;
}
.invoice h1 {
  font-size: 3rem;
  text-transform: uppercase;
  margin: 0;
}
.invoice h3 {
  font-weight: 800;
  text-transform: uppercase;
  font-size: 0.75rem;
  margin: 0 0 1rem 0;
 }

 

.invoice-logo {
   top: 3.3rem;
  right: 3rem;
  width: 120px;
}

.invoice-grid {
  margin: 0 0 2rem 0;
}

.invoice-grid pre {
  margin: 0;
  font-family: inherit;
}

.invoice-module {
   color: #4d4d4dc0;
  padding: 1rem;
  min-height: 100px;
}

.amount-due-amount, .due-date-date {
  font-size: 1.5rem;
  font-weight: 800;
}

.paid-line {
  padding: 2rem 0 1rem 0;
  text-align: center;
}
.paid-line img {
  display: block;
  margin: 0 auto 0.5rem;
}

.grid [class^=grid-] {
  float: left;
}
.grid .grid-1-2 {
  width: 50%;
  padding: 0 1em;
}

.group:after {
  content: "";
  display: block;
  clear: both;
}

.aligned-text {
  display: flex;
  justify-content: space-between;
}

.align-left {
  text-align: left;
  direction: ltr;
}

.align-right {
  text-align: right;
  direction: rtl;
}


.under-line{

  border-bottom: 1px solid;
}
.under-value { 
  color: #000;
}


.bst-header { 
  margin: 2em;
  background-color: #333;
  color: #fff !important;
}

.purchasing-list-hd { 
  font-size: 18px;
  color: #ffffff;
  text-align: right;
  padding: 20px;
  line-height: 20px;
}

.custom-grid {
  display: flex;
  justify-content: space-between;
  padding: 0.2em 2em;
  margin: auto;
  position: relative;
  z-index: 5;
 
}
.custom-grid-x { 
  display: flex;
  justify-content: space-between;
  padding: 0.2em 2.5em;
  margin: auto;
  position: relative;
  z-index: 5;
}

.custom-grid-1-10,
.custom-grid-8-10 {
  flex: 1;
}

.custom-grid-8-10 {
  flex: 8;
}

.custom-invoice-module {
  color: #4d4d4dc0;
  padding: 0 0.5rem;
  min-height: 100px;
}

.custom-invoice-module-x { 
  color: #92cedb65;
   min-height: 100px;
}


.custom-aligned-text {
  display: flex;
  justify-content: space-between;
}

.custom-align-left {
  text-align: left;
  direction: ltr;
}

.custom-align-right {
  text-align: right;
  direction: rtl;
}

.custom-under-line {
  border-bottom: 1px solid;
}

.custom-under-value {
  color: #000;
  font-size: 13px;
}
.custom-grid {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  height: auto;
   
    margin: auto;
  position: relative;
  z-index: 5;
 }
.custom-grid-f{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  height: auto;
  
  margin: 1em 1.5em;
  padding: 0.5em 0;
  position: relative;
  z-index: 5;
  justify-content: flex-start;
  border-top: 2px solid #85CEE4;
}

.custom-column {
  flex-basis: calc(17.75% - 10px)  ;
  margin-right: 10px;
  font-size: 9px;
}
.custom-grid-1-5.custom-column.total {
  flex-basis: calc(25%);
  /* margin-right: 10px; */
}
.custom-invoice-module-f {
  color: #4d4d4dc0;
   min-height: 100%;
   border-bottom: solid #85CEE4;
 }

.custom-text {
  display: flex;
  justify-content: space-between;
}

.custom-align-left {
  text-align: left;
  direction: ltr;
}

.custom-align-right {
  text-align: right;
  direction: rtl;
}

.custom-underline {
  border-bottom: 1px solid;
}

.custom-under-value {
  color: #000;
}
.qr-code-section {
  display: flex;
 
  justify-content: center;
  align-items: flex-start;
    gap: 20px; /* Adjust the gap between containers as needed */
  margin-top: 20px;
}

.qr-code-container {
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 200px; /* Adjust the maximum width as needed */
}

.qr-code-container img {
  width: 150px; /* Adjust the width of the QR code images as needed */
  height: 150px; /* Adjust the height of the QR code images as needed */
  display: block;
  margin: 0 auto;
}

.caption {
  margin-top: 0px; /* Adjust the margin as needed */
  font-size: 16px; /* Adjust the font size as needed */
  color: #333; /* Adjust the caption color as needed */
  text-align: center; /* Center the text within the caption */
  max-width: 100%; /* Ensure the text does not exceed the container's width */
  overflow: hidden;
  text-overflow: ellipsis;
  
}
.download-section {
  text-align: center;
  margin-top: 20px; /* Adjust the margin as needed */
}

.download-text {
  font-size: 14px; /* Adjust the font size as needed */
  color: #333; /* Adjust the text color as needed */
  margin-bottom: 10px; /* Adjust the margin as needed */
}

.download-link  {
  font-size: 14px; /* Adjust the font size as needed */
  color: #73cde1cd; /* Adjust the link color as needed */
  text-decoration: none;
  font-weight: 650;
  margin-right: 5px;
  display: inline-block;
  border-bottom: 2px solid #73cde152 ;
  transition: border-color 0.6s;
}


.download-link:hover {
  font-size: 14px; /* Adjust the font size as needed */
  border-color: #73cde1;
  color: #73cde1;
  font-weight: 700;
  display: inline-block;
  /* Adjust the border color on hover as needed */
}
.contact-section {
  border-top: 2px solid #ccc; /* Add top border */
  margin-top: 20px;
  display: flex;
  justify-content:  space-evenly;
  align-items: center;
  padding: 20px 0; /* Adjust padding as needed */
}

.contact-details {
  color: #000;
  display: flex;
  align-items: center;
  flex-direction: column;
 }

.text-center {
  text-align: center;
  padding-right: 20px; /* Adjust spacing between text and image */
}

.contact-text {
  font-size: 16px; /* Adjust font size as needed */
  margin: 0;
}

.contact-number {
  direction: rtl;
  font-size: 20px; /* Adjust font size as needed */
  font-weight: bold;
  margin: 0;
  direction: ltr; /* Add this line to make it RTL */
}

.contact-w {
  direction: rtl;
  font-size: 20px; /* Adjust font size as needed */
  font-weight: bold;
  margin: 0;
  color: #73cde1;
}

.contact-subtext {
  font-size: 14px; /* Adjust font size as needed */
  margin: 0;
  color: #000000; /* Adjust text color as needed */
}

.contact-image img {
  max-width: 100px; /* Adjust image width as needed */
  height: auto;
}


/* media mobile */

@media only screen and (max-width: 780px) {


  .purchasing-list-hd {
    padding: 10px;
    font-size: 12px;
    line-height: 15px;

  }

  .contact-section {
      display: flex;
     flex-direction: column;
 }

  .download-text, .contact-text , .contact-number, .contact-w { 
    font-size: 10px;
  }
  .caption {
    font-size: 9px;
  }
  .custom-column {
    flex-basis: calc(17.75% - 10px)  ;
      font-size: 9px;
  }

  svg#Layer_2 {
    width: 122px;
}
  .right-side, .left-side , .creating-world , .grid .grid-1-2 , .invoice-container{
    padding: 0;
  }
  .right-side{
    padding-top: 40px;
  }
  .thanks{
    font-size: 10px;
    padding-top: 50px;
  }
  .creating-world { 
    font-size: 8px;
  }
  .purchasing-list b { 
    font-size: 11px;
   
  }
  .purchasing-list { 
    font-size: 11px;
    line-height: 15px;
  }
  
  .invoice-module {

    padding: 0.5rem;
  }

.invoice-grid {
    font-size: 9px;
}
.bst-header { 
  margin: 0.5em;
}
.custom-grid { 
  padding: 0.1em 1em;
}
.custom-grid-x {
  padding: 0.1em 1.5em;
}
.custom-invoice-module-f{ 
  min-height: 100%;
}
.custom-under-value { 
  font-size: 10px;
}
.bst-container {
  display: flex;
  justify-content: space-between;
  height: 249px;
  padding: 0px 7px;
  margin: auto;
  position: relative;
  z-index: 5;
  background-color: #85CEE4;
}
}